:root {
  // root, like the tree branch = holds the variables for the scss
  --Primary-0: #fff;
  --Primary-100: #f5f5f5;
  --Primary-500: #b4bbc0;
  --Primary-600: #6c6f72;
  --Primary-900: #000;
  --Primary-900-50: rgb(0 0 0 / 50%);
  --Primary-900-70: rgb(0 0 0 / 70%);
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1.5625em;
}

.exercise-Card {
  display: block;
  flex-direction: column;
  background-color: var(--Primary-0);
  padding: 0.625em;
  border-radius: 1.875em;
  box-shadow: 0 0.3em 0.6em 0.1em rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 20em;
}

.card-header h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--Primary-900);
  margin: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 0.625em;
}

.card-body p {
  font-size: 0.875em;
  color: var(--Primary-600);
  margin: 0;
}

.card-price {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.card-price-amount,
.card-info-item p {
  font-weight: 600;
  color: var(--Primary-900);
}

.card-price svg {
  width: 1em;
  height: 1em;
}

.card-info-item svg {
  width: 1em;
  height: 1em;
}

.btn-icon svg {
  width: 2em;
  height: 2em;
}

.btn-icon {
  width: 2em;
  height: 2em;
  border-radius: 3.125em;
  border: 0.0625em solid var(--Primary-500);
  background-color: var(--Primary-0);
}

.btn-icon:hover {
  background-color: var(--Primary-100);
}

.card-info-item {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-top: 0.9375em;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin-top: 1.25em;
}

.btn-small {
  flex: 1;
}

.price-info {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-top: 0.9375em;
}

.hero {
  // will do the past exercises in the holidays
  //background of the section, I need to use rem instead of px but idk how to convert sizes to rem
  display: flex;
  width: 1440px;
  height: 1024px;
  padding: 40px;
  flex-direction: column;
  justify-content: flex-end; // flex end means it pushes content to the right
  align-items: center;
  gap: 10px;
  background: url("../images/Hero.svg") center / cover no-repeat; // center means the center and cover no-repeat means we want it to cover the background without repeating the image and scale it up in size
  color: var(--Primary-0);
}

.hero-container {
  // container of all the stuff inside hero
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  border: 4px solid var(--Primary-600);
  border-radius: 2rem;
}

.hero header {
  display: flex;
  justify-content: flex-end;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; // gap is the easy way to space items in a flex row or column
  padding: 1rem 1.25rem;
  background: var(--Primary-900-50);
  border-radius: 2rem;
}

.filter h2 {
  font-size: 2rem;
  font-weight: 500;
}

.filter-trip {
  display: flex;
  gap: 1.25rem;
  font-weight: 500;
}

.filter-trip input {
  // we add input to make the radio dots white when clicked
  accent-color: white;
}

.filter-inputs {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.filter-route,
.filter-calendar,
.filter-passengers {
  flex: 1; // makes route, calendar and passenger share the same row
  padding: 0.5rem;
  background: var(--Primary-900-70);
  border-radius: 0.75rem;
  display: flex;
  gap: 0.5rem;
}

.filter-inputs label {
  font-size: 0.875rem;
  font-weight: 300;
}

.filter-inputs input {
  width: 100%;
  background: none; // to override the previous flex:1
  border: none;
  color: white;
  font: 500 1rem Montserrat;
}

.filter-route {
  flex: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filter-route div {
  width: 9.375rem;
}

.swap {
  display: flex;
  padding: 1px 2px;
  background: black;
  border: none;
  border-radius: 1.5rem;
}

.search {
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 1.25rem;
  background: white;
  font: 400 1rem Montserrat;
  cursor: pointer;
  transition: background 0.2s;
}

.search:hover {
  background: var(--Primary-100);
}
