:root {
  --Primary-0: #fff;
  --Primary-100: #f5f5f5;
  --Primary-500: #b4bbc0;
  --Primary-600: #6c6f72;
  --Primary-900: #000;
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1.5625em;
}

.exercise-Card {
  display: block;
  flex-direction: column;
  background-color: var(--Primary-0);
  padding: 0.625em;
  border-radius: 1.875em;
  box-shadow: 0 0.3em 0.6em 0.1em rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 20em;
}

.card-header h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--Primary-900);
  margin: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 0.625em;
}

.card-body p {
  font-size: 0.875em;
  color: var(--Primary-600);
  margin: 0;
}

.card-price {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.card-price-amount,
.card-info-item p {
  font-weight: 600;
  color: var(--Primary-900);
}

.card-price svg {
  width: 1em;
  height: 1em;
}

.card-info-item svg {
  width: 1em;
  height: 1em;
}

.btn-icon svg {
  width: 2em;
  height: 2em;
}

.btn-icon {
  width: 2em;
  height: 2em;
  border-radius: 3.125em;
  border: 0.0625em solid var(--Primary-500);
  background-color: var(--Primary-0);
}

.btn-icon:hover {
  background-color: var(--Primary-100);
}

.card-info-item {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-top: 0.9375em;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin-top: 1.25em;
}

.btn-small {
  flex: 1;
}

.price-info {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-top: 0.9375em;
}
