@import "font";
@import "base";
@import "layout";
@import "modules/example";

/* Il y a deux types de boutons, primary et secondary. 
Chaque bouton a deux tailles, default ou small.
Chaque bouton a 3 états à styliser: default, hover, disabled. Attention à bien préciser une transition.
Les styles doivent pouvoir s’appliquer à des éléments HTML <button>, mais aussi <a>.
La largeur du bouton est définie par son contenu, et pas avec une largeur fixe.
Les styles typographiques doivent utiliser des unités CSS relatives (et non pas des pixels).
Les couleurs doivent utiliser des variables CSS. */

:root {
  --Primary-0: #FFF;
  --Primary-100: #F5F5F5;
  --Primary-200: #E6E6E6;
  --Primary-300: #D9D9D9;
  --Primary-400: #CCCCCC;
  --Primary-450: #BBBBBB;
  --Primary-500: #B4BBC0;
  --Primary-600: #999999;
  --Primary-700: #4D4D4D;
  --Primary-800: #343434;
  --Primary-900: #000;
  font-family: Montserrat;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

main {
  display:flex;
  flex-direction: column;
  gap: 1em;
  padding: 5em;
}

.btn {
  border: none;
  font-size: 1em;
  padding: 1em 1.25em;
  border-radius: 1.25em;
  background: var(--Primary-900);
  color: var(--Primary-100);
  border: none;
  font-family: inherit;

  &:hover {
    background: var(--Primary-800);
    }

  &:disabled {
    background: var(--Primary-450);
  }
  &:active {
    background: var(--Primary-700);
  }

  &:disabled {
    background: var(--Primary-100);
    pointer-events: none;
  }
}


.btn_small {
  border: none;
  padding: 0.5em 0.75em;
  border-radius: 0.75em;
  font-size: 0.875em;
  background: var(--Primary-900);
  color: var(--Primary-100);
  border: none; 
  font-family: inherit;

  &:hover {
    background: var(--Primary-800);
    }

  &:disabled {
    background: var(--Primary-450);
  }
  &:active {
    background: var(--Primary-700);
  }
}

a  {
  text-decoration: none;
  border: none;
  font-size: 1em;
  padding: 1em 1.25em;
  border-radius: 1.25em;
  background: var(--Primary-900);
  color: var(--Primary-100);
  font-family: inherit;


  &:disabled,
  &.is_disabled,
  &[aria_disabled="true"] {
    background: var(--Primary-450);
    pointer-events: none;
  }
}

.dark-mode {
  background-color: black;

  & .btn {
    background: var(--Primary-0);
    color: var(--Primary-900);
  }

  & .btn:hover {
    background: var(--Primary-500);
    color: var(--Primary-900);
  }

  & .btn_small:hover {
    background: var(--Primary-500);
    color: var(--Primary-900);
  }

  & .btn_small {
    background: var(--Primary-0);
    color: var(--Primary-900);
  }

  & .is_disabled {
    background: var(--Primary-200);
    color: var(--Primary-450);
  }

  & h1, p {
    color: var(--Primary-0);
    background: var(--Primary-900);
  }
}

